.main-container {
  background-color: #36454f;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;

}

.bey-card {
  background-color: gold;
  width: 30em;
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 15px;
}

img {
  width: 25em;
}
